<!DOCTYPE html>
<html>
<head>
	<title>Register User</title>
	<link rel="stylesheet" href="http://localhost/Moat/assets/css/style.css">
</head>
<body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Moat Builders Register User</h1>
			</div>
		<div class="login-form">
		<form method="POST" action="http://localhost/Moat/register/register">
            <input type="text" id="fullname" name="fullname" placeholder="Full Name">
			<input type="text" id="username" name="username" placeholder="Username">
			<input type="password" id="password" name="password" placeholder="Password">
            <input type="checkbox" id="role" name="role">
            <label for="role">Admin</label>
			<button class="btn btn-primary btn-large btn-block">Register</button>
		</form>
		</div>
	</div>
</body>
</html>